html, .App {
  background-color: #eee;
}

.pageHeader {
  border-radius: 5px 5px 0 0;
}

.pageHeader a {
  text-decoration: none;
}

.pageHeader .pageTitle {
  display: inline-block;
}

.pageHeader a:hover .pageTitle{
  color: #eee!important;
}

.siteLogo {
  animation: pulse 5s infinite;
}

.loadingComponent .loadingIcon {
  color: #339933;
  height: 200px;
  font-size: 36px;
  transform: scale(1);
  animation: pulse .5s infinite;
}

.img-responsive {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.twlBody {
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  padding-bottom: 80px;
  min-height: 500px;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
}

.twlBody .footer {
  position: absolute;
  display: block;
  bottom: 10px;
  width: calc(100% - 40px);
}

.iconInline {
  margin-bottom: 6px;
}

.removeIcon, .reorderIcon, .countryNumber {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.countryHeader {
  display: inline-block;
}

.removeWrapper, .reorderWrapper {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 50px;
  transform: translateY(-50%);
  font-size: 24px;
}

.reorderWrapper {
  width: 90px;
}

.removeIcon {
  right: 20px;
  opacity: .6;
}

.reorderIcon {
  color: lightgray;
  right: 58px;
}

.removeIcon:hover {
  cursor: pointer;
  opacity: 1;
}

.countryWrapper:hover {
  background-color: rgba(255,0,0,.2);
}

.countryBody:hover {
  background-color: white;
}

.countryBody:hover .reorderIcon {
  color: gray;
}

.countryNumber {
  display: inline-block;
  text-align: center;
  padding: 2px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  line-height: 28px;
  border-radius: 50%;
  left: 10px;
}

.countryName {
  padding-left: 52px;
}

.countryHeader:hover .countryName {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.modal-header .btn-close {
  background-color: white;
  margin-right: 5px;
}

.nextButton .iconInline, .backButton .iconInline {
  margin-top: 4px;
}

.color-0 {
  background-color: #1b4793!important;
}

.color-1 {
  background-color: #ef3c23!important;
}

.color-2 {
  background-color: #ee9900!important;
}

.color-3 {
  background-color: #339933!important;
}

.color-4 {
  background-color: #ee4488!important;
}

.color-5 {
  background-color: #9933ff!important;
}

.color-6 {
  background-color: #007EA7!important;
}

.color-7 {
  background-color: #7a2417!important;
}

.color-8 {
  background-color: #a28443!important;
}

.color-9 {
  background-color: #2b504a!important;
}

@keyframes pulse {
  0% {
    transform: scale(0.95) rotate(-10deg);
  }

  70% {
    transform: scale(1) rotate(10deg);
  }

  100% {
    transform: scale(0.95) rotate(-10deg);
  }
}

@media only screen and (max-width: 500px) {
  .countryName {
    font-size: 1em;
  }
}
