html, .App {
  background-color: #eee;
}

.pageHeader {
  border-radius: 5px 5px 0 0;
}

.pageHeader a {
  text-decoration: none;
}

.pageHeader .pageTitle {
  display: inline-block;
}

.pageHeader a:hover .pageTitle{
  color: #eee!important;
}

.loadingComponent .loadingIcon {
  color: red;
  height: 200px;
  font-size: 36px;
  transform: scale(1);
  animation: pulse .5s infinite;
}

.twlBody {
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  padding-bottom: 140px;
  min-height: 500px;
  margin-bottom: 80px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
}

.twlBody .footer {
  position: absolute;
  display: block;
  bottom: 10px;
  width: calc(100% - 40px);
}

.iconInline {
  margin-bottom: 4px;
}

.removeIcon, .reorderIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.removeIcon {
  right: 20px;
}

.reorderIcon {
  color: gray;
  right: 58px;
}

.removeIcon:hover {
  cursor: pointer;
}

.countryWrapper:hover {
  background-color: rgba(255,0,0,.2);
}

.countryBody:hover {
  background-color: white;
}

.countryBody:hover .reorderIcon {
  color: lightgray;
}

.countryName:hover {
  color: blue;
  text-decoration: underline;
  cursor: help;
}
